li {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #ffffff;
}


#banner-welcome-about {
  background-image: url("../../images/aboutus3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /*background-position: center center;*/
}
