#banner-welcome-contests {
	background: linear-gradient(249deg, #CD6E36, #FF0080);
}

#pgradient {
  font-size: 6.5rem;
  background: -webkit-linear-gradient(249deg, #CD6E36, #FF0080);;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#couponld {
  background: -webkit-linear-gradient(249deg, #CD6E36, #FF0080);;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#cardfee {
  background: -webkit-linear-gradient(249deg, #CD6E36, #FF0080);;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dark h4 {
  font-weight: 700;
  color: #000000;
}

.dark p {
  color: #4a4a4a;
  margin-top: 12px;
  font-weight: 600;
}

.conn {
  height: 330px;
}

.connprice {
  width: 430px;
  margin-left: 18%;
}


@media only screen and (min-device-width: 310px) and (max-device-width: 360px) {
  .conn {
    height: 600px;
  }

  .connprice {
    margin-left: 0px;
  }

}


@media only screen and (min-device-width: 769px) and (max-device-width: 1210px) {
  .conn {
    height: 700px;
  }

  .connprice {
    margin-left: 0px;
  }
}