$brand-color: #161317;

.card {
  margin-bottom: 10px;
  width: 100%;
  background-color: $brand-color !important;
  
  .card-header {
    cursor: pointer;
  
    .icon {
      transform: rotate(180deg);
      transition: transform 150ms ease-out;
    }
  }
      
  .card-content {
    //transition: max-height 250ms ease;
    overflow: hidden;
  }
  
}
      
.card.not-expanded {
  .card-header {
    .icon {
      transform: rotate(0deg);
    }
  }
  
  .card-content {
    padding: 0;
  }
}

.card.expanded {
  .card-content {
    max-height: 100% !important;
  }
}