#logo {
  margin-left: 10px;
  margin-top: 10px;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  color: #000000;
}

#navbar-items {
  margin-top: 14px;
  margin-left: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #000000;
}


#btn-navbar {
  margin-right: 10px;
  margin-top: 10px;
}

#logo-footer {
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  color: '#ffffff';
}

#credits {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 0.6rem;
}
