li {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #ffffff;
}


#banner-about, #banner-draw {
  background-color: #161317;
}

#banner-about h2 {
  color: #ffffff;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px;
}

#banner-about p {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
}

#faq {
  background-color: #161317;
}

#faq h1 {
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

#content2 {
  margin-top: 80px;
  margin-left: 40px;
}