@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');


* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-image: url("./images/background5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

p {
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

article p {
  font-family: 'Montserrat', sans-serif;
}

.big-title {
  font-size: 6rem;
}

.button {
  font-weight: 600;
}

.banners {
  font-weight: 700;
  color: #FFF;
  line-height: 1;
}

.session-title {
  font-weight: 700;
  color: #000000;
}
