@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600;700&display=swap');


p {
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

article p {
  font-family: 'Montserrat', sans-serif;
}


.Big-text {
  color: #ffffff;
  font-size: 8rem;
  line-height: 1;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
}


.tile-text {
  font-weight: 500;
  font-size: 1.2rem;
}

#banner-welcome {
  background-color: #161317;
}

#banner-us h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #000000;
}

#banner-us p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #000000;
  margin-top: 8px;
}

#explain-1 {
  margin-top: 40px;
}

#explain-1 p {
  color: #ffffff;
}

#back-video {
  background-color: #161317;
}

#box0 {
  background-color: #fafafa;
}

#box1 {
  background-color: #34495e;
  margin-bottom: 15px !important;
}

#box2 {
  background-color: #2ecc71;
  margin-top: 30px !important;
}

#box3 {
  background-color: #ff4365;
  margin-bottom: 15px !important;
}

#box4 {
  background-color: #3498db;
  margin-top: 30px !important;
}

#jacobs-quote h4{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #000000; 
}

#jacobs-quote p {
  margin-top: 23px;
}