p a {
  color: #ffffff;
}

ul li {
  color: #000000;
}

#banner-welcome-faq {
  background-image: url("../../images/faq3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


#faq h1 {
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
}
